# Server Configuration
APP__SERVER__HOST=
APP__SERVER__PORT=
APP__SERVER__ENV=
APP__SERVER__BASE_URL=

# Database Configuration
APP__DATABASE__URL=
APP__DATABASE__MAX_CONNECTIONS=
APP__DATABASE__MIN_CONNECTIONS=

# JWT Configuration
APP__JWT__SECRET=
APP__JWT__ACCESS_TOKEN_EXPIRES_IN_MINUTES=
APP__JWT__REFRESH_TOKEN_EXPIRES_IN_DAYS=

# Email Configuration
APP__EMAIL__FROM_ADDRESS=
APP__EMAIL__FROM_NAME=
APP__EMAIL__VERIFICATION_URL_BASE=
APP__EMAIL__PASSWORD_RESET_URL_BASE=

# Logging
RUST_LOG=karilog=debug,tower_http=debug
